$color: (
  "main": (
    "default": #c8133e,
  ),
  "sub": (
    "default": #7ec1ea,
  ),
  "text": (
    "default": #222,
  ),
  "link": (
    "default": #c8133e,
    "hover": #df0523,
  ),
  "gray": (
    "default": #f3f3f3,
    "line": #dedede,
  )
);
