/* stylelint-disable no-invalid-position-at-import-rule */
$use-open-sans: true;
$use-noto-sans: false;
$use-noto-serif: false;

@if $use-open-sans {
  @import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"; // font-family: 'Open Sans', sans-serif;
}

@if $use-noto-sans {
  // @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); // font-family: 'Noto Sans JP', sans-serif;
  @import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap";
}

@if $use-noto-serif {
  @import "https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap"; // font-family: 'Noto Serif JP', serif;
}
