extends /layouts/default

block style
    +page-style('css-custom-props-margin')

block title
    +page-title('CSS カスタムプロパティによるマージン制御')
    +subtitle('CSS カスタムプロパティを利用した見出しとテキスト間のマージン制御の手法について')

block content
    .stack
        h1 h1 > Lorem ipsum dolor sit amet consectetur

        p 私達は、それから本牧へタキシイを駛らせながら、十二天と小港の何れを択ぶべきかと相談した。そして結局、キヨ・ホテルはブルジョワ・イデオロギイであると云うので、後者をとることになった。車は夜更けの海辺を疾走した。狭い横町を左へ折れて、梅に鴬の燈りが灯っているホテルの前を過ぎると、間もなくアレキサンダー君は車を停めさせた。私達は、エトワールと云うホテルに入った。ひきつけとも云うべき明るい広間に、十人もの六月の牡丹の如く絢爛たる女が並んでいた。
        p さて然し、戦後、食いもの屋の中で、一番数が多くなったのは――いいえ、食いもの屋全体の数が、戦前の一体、何倍になっているか――やっぱり、支那料理屋であろう。それに続いて可笑しいことには、主食の販売が、うるさくなるにつれて、ゴハン物の店が、ぐっと多くなっていることだ。すし屋が、そうだ。釜めし屋、お茶漬屋だって、たとえば、戦前の銀座には、あすこは此処とと、数える位しか無かったのが、今の銀座は、横丁へ入る毎にそういうゴハン物の店があるようになった。やきとり屋も、やたらに多くなった。
        p 嘉永六年にペルリが相模浦賀に來り、人心を動搖せしめたが、嘉永七年（安政元年）彼は二たび浦賀に來た。その時の歌である。その年三月神奈川條約が成つたが、幕府もいろいろと難儀した。この二つの如きは、その當時の國民の心を代表したものといふべく、亞米利加よ巫山戲たことをいふな、汝等は皇國の神風を知らないのか、といふので、攘夷の氣概を存分にあらはして居る。

        h2 h2 > Lorem ipsum dolor sit amet consectetur

        p 私達は、それから本牧へタキシイを駛らせながら、十二天と小港の何れを択ぶべきかと相談した。そして結局、キヨ・ホテルはブルジョワ・イデオロギイであると云うので、後者をとることになった。車は夜更けの海辺を疾走した。狭い横町を左へ折れて、梅に鴬の燈りが灯っているホテルの前を過ぎると、間もなくアレキサンダー君は車を停めさせた。私達は、エトワールと云うホテルに入った。ひきつけとも云うべき明るい広間に、十人もの六月の牡丹の如く絢爛たる女が並んでいた。
        p さて然し、戦後、食いもの屋の中で、一番数が多くなったのは――いいえ、食いもの屋全体の数が、戦前の一体、何倍になっているか――やっぱり、支那料理屋であろう。それに続いて可笑しいことには、主食の販売が、うるさくなるにつれて、ゴハン物の店が、ぐっと多くなっていることだ。すし屋が、そうだ。釜めし屋、お茶漬屋だって、たとえば、戦前の銀座には、あすこは此処とと、数える位しか無かったのが、今の銀座は、横丁へ入る毎にそういうゴハン物の店があるようになった。やきとり屋も、やたらに多くなった。
        p 嘉永六年にペルリが相模浦賀に來り、人心を動搖せしめたが、嘉永七年（安政元年）彼は二たび浦賀に來た。その時の歌である。その年三月神奈川條約が成つたが、幕府もいろいろと難儀した。この二つの如きは、その當時の國民の心を代表したものといふべく、亞米利加よ巫山戲たことをいふな、汝等は皇國の神風を知らないのか、といふので、攘夷の氣概を存分にあらはして居る。

        h3 h3 > Lorem ipsum dolor sit amet consectetur

        p 私達は、それから本牧へタキシイを駛らせながら、十二天と小港の何れを択ぶべきかと相談した。そして結局、キヨ・ホテルはブルジョワ・イデオロギイであると云うので、後者をとることになった。車は夜更けの海辺を疾走した。狭い横町を左へ折れて、梅に鴬の燈りが灯っているホテルの前を過ぎると、間もなくアレキサンダー君は車を停めさせた。私達は、エトワールと云うホテルに入った。ひきつけとも云うべき明るい広間に、十人もの六月の牡丹の如く絢爛たる女が並んでいた。
        p さて然し、戦後、食いもの屋の中で、一番数が多くなったのは――いいえ、食いもの屋全体の数が、戦前の一体、何倍になっているか――やっぱり、支那料理屋であろう。それに続いて可笑しいことには、主食の販売が、うるさくなるにつれて、ゴハン物の店が、ぐっと多くなっていることだ。すし屋が、そうだ。釜めし屋、お茶漬屋だって、たとえば、戦前の銀座には、あすこは此処とと、数える位しか無かったのが、今の銀座は、横丁へ入る毎にそういうゴハン物の店があるようになった。やきとり屋も、やたらに多くなった。
        p 嘉永六年にペルリが相模浦賀に來り、人心を動搖せしめたが、嘉永七年（安政元年）彼は二たび浦賀に來た。その時の歌である。その年三月神奈川條約が成つたが、幕府もいろいろと難儀した。この二つの如きは、その當時の國民の心を代表したものといふべく、亞米利加よ巫山戲たことをいふな、汝等は皇國の神風を知らないのか、といふので、攘夷の氣概を存分にあらはして居る。

        h4 h4 > Lorem ipsum dolor sit amet consectetur

        p 私達は、それから本牧へタキシイを駛らせながら、十二天と小港の何れを択ぶべきかと相談した。そして結局、キヨ・ホテルはブルジョワ・イデオロギイであると云うので、後者をとることになった。車は夜更けの海辺を疾走した。狭い横町を左へ折れて、梅に鴬の燈りが灯っているホテルの前を過ぎると、間もなくアレキサンダー君は車を停めさせた。私達は、エトワールと云うホテルに入った。ひきつけとも云うべき明るい広間に、十人もの六月の牡丹の如く絢爛たる女が並んでいた。
        p さて然し、戦後、食いもの屋の中で、一番数が多くなったのは――いいえ、食いもの屋全体の数が、戦前の一体、何倍になっているか――やっぱり、支那料理屋であろう。それに続いて可笑しいことには、主食の販売が、うるさくなるにつれて、ゴハン物の店が、ぐっと多くなっていることだ。すし屋が、そうだ。釜めし屋、お茶漬屋だって、たとえば、戦前の銀座には、あすこは此処とと、数える位しか無かったのが、今の銀座は、横丁へ入る毎にそういうゴハン物の店があるようになった。やきとり屋も、やたらに多くなった。
        p 嘉永六年にペルリが相模浦賀に來り、人心を動搖せしめたが、嘉永七年（安政元年）彼は二たび浦賀に來た。その時の歌である。その年三月神奈川條約が成つたが、幕府もいろいろと難儀した。この二つの如きは、その當時の國民の心を代表したものといふべく、亞米利加よ巫山戲たことをいふな、汝等は皇國の神風を知らないのか、といふので、攘夷の氣概を存分にあらはして居る。

        h5 h5 > Lorem ipsum dolor sit amet consectetur

        p 私達は、それから本牧へタキシイを駛らせながら、十二天と小港の何れを択ぶべきかと相談した。そして結局、キヨ・ホテルはブルジョワ・イデオロギイであると云うので、後者をとることになった。車は夜更けの海辺を疾走した。狭い横町を左へ折れて、梅に鴬の燈りが灯っているホテルの前を過ぎると、間もなくアレキサンダー君は車を停めさせた。私達は、エトワールと云うホテルに入った。ひきつけとも云うべき明るい広間に、十人もの六月の牡丹の如く絢爛たる女が並んでいた。
        p さて然し、戦後、食いもの屋の中で、一番数が多くなったのは――いいえ、食いもの屋全体の数が、戦前の一体、何倍になっているか――やっぱり、支那料理屋であろう。それに続いて可笑しいことには、主食の販売が、うるさくなるにつれて、ゴハン物の店が、ぐっと多くなっていることだ。すし屋が、そうだ。釜めし屋、お茶漬屋だって、たとえば、戦前の銀座には、あすこは此処とと、数える位しか無かったのが、今の銀座は、横丁へ入る毎にそういうゴハン物の店があるようになった。やきとり屋も、やたらに多くなった。
        p 嘉永六年にペルリが相模浦賀に來り、人心を動搖せしめたが、嘉永七年（安政元年）彼は二たび浦賀に來た。その時の歌である。その年三月神奈川條約が成つたが、幕府もいろいろと難儀した。この二つの如きは、その當時の國民の心を代表したものといふべく、亞米利加よ巫山戲たことをいふな、汝等は皇國の神風を知らないのか、といふので、攘夷の氣概を存分にあらはして居る。

        h6 h6 > Lorem ipsum dolor sit amet consectetur

        p 私達は、それから本牧へタキシイを駛らせながら、十二天と小港の何れを択ぶべきかと相談した。そして結局、キヨ・ホテルはブルジョワ・イデオロギイであると云うので、後者をとることになった。車は夜更けの海辺を疾走した。狭い横町を左へ折れて、梅に鴬の燈りが灯っているホテルの前を過ぎると、間もなくアレキサンダー君は車を停めさせた。私達は、エトワールと云うホテルに入った。ひきつけとも云うべき明るい広間に、十人もの六月の牡丹の如く絢爛たる女が並んでいた。
        p さて然し、戦後、食いもの屋の中で、一番数が多くなったのは――いいえ、食いもの屋全体の数が、戦前の一体、何倍になっているか――やっぱり、支那料理屋であろう。それに続いて可笑しいことには、主食の販売が、うるさくなるにつれて、ゴハン物の店が、ぐっと多くなっていることだ。すし屋が、そうだ。釜めし屋、お茶漬屋だって、たとえば、戦前の銀座には、あすこは此処とと、数える位しか無かったのが、今の銀座は、横丁へ入る毎にそういうゴハン物の店があるようになった。やきとり屋も、やたらに多くなった。
        p 嘉永六年にペルリが相模浦賀に來り、人心を動搖せしめたが、嘉永七年（安政元年）彼は二たび浦賀に來た。その時の歌である。その年三月神奈川條約が成つたが、幕府もいろいろと難儀した。この二つの如きは、その當時の國民の心を代表したものといふべく、亞米利加よ巫山戲たことをいふな、汝等は皇國の神風を知らないのか、といふので、攘夷の氣概を存分にあらはして居る。
