extends /layouts/default

block content
  h1 モダン CSS の学習 〜今はこう書けますよ〜

  ul.home-index
    each post in SHEETS.articles
      li
        a(href=`/articles/${post.slug}.html`)
          h2 #{ post.title }
          p #{ post.description }

block back
