extends /layouts/default

//- block title
//-     h1.title INDEX

//- block content
//-     ul.index-articles
//-         each post in SHEETS.articles
//-             li
//-                 a(href=`/articles/${post.slug}.html`)
//-                     | #{ post.title }
