@use "global/vars" as v;

// 幅の指定はキーワードだけでなく数値でも指定可能
// @include below(md) { ... }
// @include below(800) { ... }
// @include above(md) { ... }
// @include above(800) { ... }
// @include inbetween(sm, md) { ... }
// @include inbetween(sm, 800) { ... }
// @include inbetween(300, md) { ... }
// @include inbetween(300, 800) { ... }

@mixin below($size) {
  @if type-of($size) == number {
    @media screen and (max-width: #{$size}px) {
      @content;
    }
  } @else {
    @media screen and (max-width: #{map-get(v.$breakpoints, $size)}px) {
      @content;
    }
  }
}

@mixin above($size) {
  @if type-of($size) == number {
    @media screen and (min-width: #{$size + 1}px) {
      @content;
    }
  } @else {
    @media screen and (min-width: #{map-get(v.$breakpoints, $size) + 1}px) {
      @content;
    }
  }
}

@mixin inbetween($from, $until) {
  $min-width: 0;
  $max-width: 0;

  @if type-of($from) == number {
    $min-width: "min-width: #{$from + 1}px";
  } @else {
    $min-width: "min-width: #{map-get(v.$breakpoints, $from) + 1}px";
  }

  @if type-of($until) == number {
    $max-width: "max-width: #{$until}px";
  } @else {
    $max-width: "max-width: #{map-get(v.$breakpoints, $until)}px";
  }

  @media screen and ($min-width) and ($max-width) {
    @content;
  }
}
