include /components/**/*

doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="robots", content="noindex,nofollow")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
        link(rel="stylesheet", href="/assets/styles/base.css")
        block style
        title Document
    body
        +header

        section.section
            .container
                main
                    .block-title
                        block title
                            +page-title("ページタイトル")
                            +subtitle("My first website with Bulma!")

                    .block-content
                        block content
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, eaque. Consectetur commodi porro natus adipisci! Nostrum alias ipsa illo! Nam nulla perferendis quis ullam, veniam nostrum vero cupiditate sed quae!

                        block back
                            .buttons.is-centered.mt-6
                                a.button(href="/") トップへ戻る

        +footer
